<!-- <h1>WordGame#score</h1>
<p>Find me in app/views/word_game/score.html.erb</p>
 -->
<h1 class="text-center">Attempt: <%= @attempt %></h1>
<h1 class="text-center">Score: <%= @result[:score].floor %></h1>
<h1 class="text-center">Time: <%= @result[:time] / 1000%> seconds</h1>
<h1 class="text-center"><%= @result[:message] %></h1>
